.ChartsSection {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.row {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 1rem;
}

img.Plot {
	width: 300px;
	height: 300px;
}

.Plot {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(52, 71, 103, 1);
	transition: all 300ms ease-in-out;
	cursor: pointer;
}

.Plot:hover {
	transform: scale(1.05);
	box-shadow: 0 0 5px #13939A;
	border: 1px solid #13939A;
}