.SectionTitle span {
	position: absolute;
	font-size: 0.8rem;
	text-align: end;
	top: 4.5rem;
	right: 40%;
	color: gray;
}

.SectionTitle .LogoName {
	font-size: 2rem;
}

.ImageAndText img {
	border-radius: 10px;
	margin-bottom: 2rem;
	margin: 0 1rem;
}