.Logo {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	justify-content: center;
}

.LogoImg {
	width: 1.5rem;
	margin-right: 0.5rem;
}

.LogoName {
	font-size: 1.4rem;
	color: #344767;
}