.Formulario {
	padding: 3rem;
}

.FormContainer {
	position: relative;
	padding: 1rem;
	margin-top: 5rem;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(52, 71, 103, 1);
	min-height: 500px;
	width: 80%;
}

.FormItem {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.FormTitle {
	margin: 1rem 0;
	text-align: center;
}

.FormSelector {
	border-radius: 50rem;
	color: #344767;
	font-size: 1rem;
	padding: 1rem;
	border: none;
	border: 1px solid rgba(52, 71, 103, 1);
	text-align: center;
}

.ItemContainer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.SubmitBtn {
	padding: 1rem;
	font-size: 1rem;
	border-radius: 10px;
	border: none;
	font-weight: bold;
	background-color: white;
	border: 1px solid #CB0C9F;
	position: absolute;
	bottom: 1rem;
	text-align: center;
	left: calc(50% - 1rem);
	cursor: pointer;
	transition: all 300ms ease-in-out;
	/* pointer-events: none;
	opacity: 0.5; */
}

.SubmitBtn:hover {
	background-color: #CB0C9F;
	color: white;
}

.Ubicacion {
	width: 10rem;
}

.ItemContainer.Selectors {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}

.FormItem {
	padding: 1rem;
	font-size: 1rem;
	border-radius: 10px;
	border: none;
	font-weight: bold;
	background-color: white;
	border: 1px solid #CB0C9F;
	cursor: pointer;
	transition: all 300ms ease-in-out;
}

.FormItem:hover,
.FormItem.Active {
	background-color: #CB0C9F;
	color: white;
}

.FormItems {
	display: flex;
	justify-content: space-around;
	align-items: center;
}