.MemberCardsContainer {
	width: 100%;
	height: max-content;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 1rem;
}

.MemberCard {
	position: relative;
	height: 300px;
	width: 300px;
	border-radius: 10px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
	font-size: 0.8rem;
	transition: all 300ms ease-in-out;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: end;
	padding: 1rem;
	border-radius: 10px;
	margin-bottom: 1rem;
}

.MemberCardBackground {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 10px;
	background-color: #CB0C9F;
	opacity: 0;
	transition: all 300ms ease-in-out;
	z-index: 1;
}

.MemberCard:hover {
	background-size: 130%;
}


.MemberCard:hover .MemberCardBackground {
	opacity: 0.4;
}

.MemberName, .MemberDescription {
	z-index: 5;
	opacity: 0;
	transition: all 300ms ease-in-out;
}

.MemberCard:hover .MemberName,
.MemberCard:hover .MemberDescription {
	opacity: 1;
}